<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorite()">
        <ion-icon *ngIf="!isFavorite" slot="icon-only" name="star-outline"></ion-icon>
        <ion-icon *ngIf="isFavorite" slot="icon-only" name="star"></ion-icon>
      </ion-button>
      <ion-button (click)="shareSession()">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="session" class="ion-padding">
    <h1>{{session.name}}</h1>
    <span *ngFor="let track of session?.tracks" [class]="'session-track-'+track.toLowerCase()">{{track}}</span>
    <p>{{session.description}}</p>
    <ion-text color="medium">
      {{session.timeStart}} &ndash; {{session.timeEnd}}
      <br /> {{session.location}}
    </ion-text>
  </div>

  <ion-list>
    <ion-item (click)="close(session.watch)" button>
      <ion-label color="primary">Watch</ion-label>
      <ion-icon slot="end" color="primary" size="small" name="play"></ion-icon>
    </ion-item>  
    <ion-item button block (click)="openMenu(session.drive , session.download)">
      <ion-label color="primary"> Unit- 1 </ion-label>
      <ion-icon slot="end" color="primary" size="small" name="logo-buffer"></ion-icon>
    </ion-item>
    <ion-item button block (click)="openMenu(session.drive , session.download)">
      <ion-label color="primary"> Unit- 2 </ion-label>
      <ion-icon slot="end" color="primary" size="small" name="logo-buffer"></ion-icon>
    </ion-item>
    <ion-item button block (click)="openMenu(session.drive , session.download)">
      <ion-label color="primary"> Unit- 3 </ion-label>
      <ion-icon slot="end" color="primary" size="small" name="logo-buffer"></ion-icon>
    </ion-item>
    <ion-item button block (click)="openMenu(session.drive , session.download)">
      <ion-label color="primary"> Unit- 4 </ion-label>
      <ion-icon slot="end" color="primary" size="small" name="logo-buffer"></ion-icon>
    </ion-item>
    <ion-item button block (click)="openMenu(session.drive , session.download)">
      <ion-label color="primary"> Unit- 5 </ion-label>
      <ion-icon slot="end" color="primary" size="small" name="logo-buffer"></ion-icon>
    </ion-item>
    <ion-item (click)="close(session.download)" button>
      <ion-label color="primary">Download Extra Resource</ion-label>
      <ion-icon slot="end" color="primary" size="small" name="cloud-download"></ion-icon>
    </ion-item>
    <ion-item (click)="openMenu(session.prev, session.prevdown)" button>
      <ion-label color="primary"> Previous Year Question Papers</ion-label>
      <ion-icon slot="end" color="primary" size="small" name="albums"></ion-icon>
    </ion-item>
    <ion-item (click)="sessionClick('leave feedback')" button>
      <ion-label color="primary">Leave Feedback</ion-label>
      <ion-icon slot="end" color="primary" size="small" name="information"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
<!-- <iframe src="https://drive.google.com/file/d/1MN7fBAvmicDNA53MUsF4m43NNB_mT8LS/preview" width="640" height="480"></iframe> -->